/* AboutUs.module.css */

.AboutUsContainer {
  padding: 60px 0;
 
}

.SectionTitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.SectionText {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.SectionImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.SectionImage:hover {
  transform: scale(1.05);
}

/* Additional styling for specific elements */

.img-fluid {
  height: 32rem;
  width: 44rem;
}

.para {
  font-family: 'Poppins', sans-serif; /* Adjust font family as needed */
  font-size: large;
}

.head1,
.head2,
.head3 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.head2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.mainhead {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 80px;
  margin-bottom: 10px;
  margin-top: 30px;
}
